.app {
  display: flex;
  flex-direction: column;
}

.app__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

html {
  padding: 0 180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding: 5px 20px !important;
  color: white;
  background: linear-gradient(to right, #ee856d 0%, rgba(231, 71, 71, 1) 90%);
}

.title {
  margin-left: -10px;
}

@media screen and (max-width: 767px) {
  .title {
    margin-left: -180px;
    font-size: 16px;
  }

  .app__header {
    width: 100%;
  }

  .button {
    max-height: 30px !important;
    font-size: 9px !important;
    margin-left: 190px !important;
  }
}